body {
display: flex;
flex-flow: column;
margin: 0;



}
body > * {
    display: flex;
    justify-content: center;
}

.textmargin {
    margin: 8px;
}


.darkbackground {
background-color: #1f2937;
  
}
.logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-left: auto;
}
.main {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}
.bboxwtext>.subtext {
color: #717275;
font-size: 18px; 
font-weight: 900;
}

.testimonialbackground {
    padding: 100px 200px 100px;
    background-color: #efe7eb;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1f2937;
}
.quote-source {
    font-size: 18px;
    font-weight: 900;
    color: #1f2937;
}
.info-header-text {
    font-size: 36px;
    font-weight: 900;
    color: #d7d8db;
}
.quote::before {
    content: open-quote;
}
.quote::after {
    content: close-quote;
}
.CTA {
background-color: #3882f6;
width: 700px;
display: flex;
border-radius: 5px;
justify-content: space-between;
padding: 15px 20px 15px;



}
.CTA-container {
display: flex;
margin-top: 50px;
margin-bottom: 50px;

   
}

button {
    background-color: #3882f6;
    color: #F9FAF8;
    margin: 25px 5px 25px;
    border-radius: 5px;
}
.CTAbuttoncontainer {
   display:flex;
}
.CTAbutton {
    width: 100px;
}
.headercontainer {
    display: flex;
    justify-content: space-between;
    gap: 200px;
    
}
.nav-links > ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    
}
.nav-links {
    margin-left: auto;
    margin-right: auto;
}
.borderbox {
    width: 200px;
    height: 200px;
    justify-self: center;
    
    
    

}
.info {
flex-direction: column; 
justify-content: center;
padding-bottom: 100px;
   
}
.imagesection {
display: flex;
justify-content: center;
}

.subtext {
    color: #E5E7Eb;
    text-align: center;
    
}
.container-title {
    text-align: center;
}
.bboxwtext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 100px 0px;
    gap: 5px;
}
ul {
    gap: 15px;
}

ddiv.hero.darkbackground > div.container > p.subtext {
   margin-right: 250px;
}
.hero {
  display: flex;
  gap: 170px;  
}


    

img {
 width: 500px;   
}
.ctaheadfont {
    font-size: 24px;
    color: #F9FAF8;
}
.ctafootfont {
    color: #cbcdd1;
    font-size: 18px;
}
.footer-text {
    color: #e5e7eb;
}
.resize {
max-width:100%;
height: 200px;
border-radius: 5px;
}