body {
display: flex;
flex-flow: column;


margin: 0 auto 0 
}
body > * {
    display: flex;
    justify-content: center;
}




.darkbackground {
background-color: #1f2937;
  
}
.logo {
    font-size: 24px;
    color: #F9FAF8;
}
.main {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}
.bboxwtext>.subtext {
color: #717275;
font-size: 18px; 
font-weight: 900;
}

.testimonialbackground {
    padding: 100px 200px 100px;
    background-color: #efe7eb;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1f2937;
}
.quote-source {
    font-size: 18px;
    font-weight: 900;
    color: #1f2937;
}
.info-header-text {
    font-size: 36px;
    font-weight: 900;
    color: #e5e7eb;
}
.quote::before {
    content: open-quote;
}
.quote::after {
    content: close-quote;
}
.CTA {
background-color: #3882f6;

}
button {
    background-color: #3882f6;
    color: #F9FAF8;
    margin: 8px 20px 8px;
    
    border-radius: 5px;
}
.header {
    display: flex;
    justify-content: space-around;
}
.nav-links > ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}
.borderbox {
    width: 200px;
    height: 200px;
    border-style: solid;
    justify-self: center;
    border-width: 1px;
    

}
.info {
flex-direction: column; 
justify-content: center;
padding-bottom: 100px;
   
}
.imagesection {
display: flex;
justify-content: center;
}

.subtext {
    color: #E5E7Eb;
    text-align: center;
    
}
.container-title {
    text-align: center;
}
.bboxwtext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 100px 0px;
    gap: 10px;
}
ul {
    gap: 15px;
}

div.hero.darkbackground > div.container > p.subtext {
    margin: 50px 100px 50px;
}
.hero {
    
    
}
div.hero.darkbackground > div.container {
 display: flex;
 flex-flow: column wrap;
 justify-content: center;
 text-align: center;

    
}
img {
 width: 500px;   
}